$background: #252542;
$primary: #7b9ddf;

$navy: #2d323c;
$blue: #07adec;
$purple: #8255ff;

$xs-device: 340px;
$sm-device: 341px;
$md-device: 992px;
$lg-device: 1200px;

@function gradient($direction, $one, $two, $opacity: 1) {
  @return linear-gradient($direction, rgba($one, $opacity), rgba($two, $opacity));
}

@mixin xs-device {
  @media (max-width: $xs-device) { @content; }
}

@mixin sm-device {
  @media (min-width: $sm-device) and (max-width: $md-device) { @content; }
}

@mixin md-device {
  @media (min-width: $md-device) and (max-width: $lg-device) { @content; }
}

@mixin lg-device {
  @media (min-width: $lg-device) { @content; }
}

@mixin devices($xs: false, $sm: false, $md: false, $lg: false) {
  @if $xs == true { @include xs-device { @content; }}
  @if $sm == true { @include sm-device { @content; }}
  @if $md == true { @include md-device { @content; }}
  @if $lg == true { @include lg-device { @content; }}
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  background: $background;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

small {
  font-size: 9px;
}

input[type=range] {
  background: $blue;
}

.Header {
  padding: 1em;
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  font-family: 'Pilgi', Georgia;
  font-size: 2em;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
  margin-left: 0.75em;
}

.content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

$music-player-width: 300px;

.MusicPlayer {
  margin: 2em;
  margin-top: 80px;
  padding: 0.75em;
  width: $music-player-width;
  height: 560px;
  border-radius: 6px;
  box-shadow: 0 12px 30px -2px rgba(black, 0.2), 0 4px 5px 0 rgba(black, 0.1);
  background: gradient(to right, #07a8e5, $purple, 0.9);
  z-index: 1;
  text-align: center;

  .artwork {
    margin-bottom: 3em;
    width: calc(#{$music-player-width} - 1.5em);
    height: calc(#{$music-player-width} - 1.5em);
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 8px 25px -2px rgba(black, 0.2), 0 4px 5px 0 rgba(black, 0.1);
    transition: background 300ms ease;
  }

  .Progress {
    position: relative;
    background: rgba(white, 0.15);
    border-radius: 20px;
    height: 3px;
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden;

    .ProgressValue {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      z-index: 2;
      background: linear-gradient(to right, #a9b9ff, white);
      border-radius: 20px;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

    button {
      color: white;
      font-size: 2em;
      cursor: pointer;

      &#play, &#pause {
        font-size: 3.5em;
      }

      &#next, &#prev {
        padding: 0 1em;
      }
    }
  }

  .track-info {
    text-align: center;

    .title {
      font-size: 15px;
      margin-bottom: 0.5em;
    }

    .artist {
      font-size: 12px;
      font-style: italic;
    }
  }

  .volume {
    margin-top: 3em;
    display: none;
  }
}

.Playlists {
  flex: 1;
  padding: 2em 1em;
  padding-left: 0;
  margin: 0;
  overflow: auto;

  .Playlist {
    margin: 0;
  }
}

.Tracks {
  $size: 80px;

  .Track {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0.5em 1em;
    cursor: pointer;
    border-bottom: 1px solid lighten($background, 7%);
    align-items: center;

    small {
      opacity: 0.6;

      &.duration {
        margin-left: auto;
      }
    }

    &.nowPlaying {
      color: $blue;
      background: rgba(lighten($background, 5%), 0.4);
    }

    &:hover {
      background: linear-gradient(to right, rgba(lighten($background, 5%), 0.4), black);
    }

    img {
      margin-right: 1em;
      width: $size;
      height: $size;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

canvas {
  display: none;
}

button.reset {
  background: none;
  border: none;
  outline: none;
}

@import 'icons';
