$dark-purple: #252542;
$primary: #7b9ddf;
$salmon: #E76B76;
$background: #4d4747;

$navy: #2d323c;
$blue: #07adec;
$purple: #8255ff;

$xs-device: 340px;
$sm-device: 341px;
$md-device: 992px;
$lg-device: 1200px;

@function gradient($direction, $one, $two, $opacity: 1) {
  @return linear-gradient($direction, rgba($one, $opacity), rgba($two, $opacity));
}

$player-gradient: gradient(to right, #07a8e5, $purple, 0.9);

@mixin xs-device {
  @media (max-width: $xs-device) { @content; }
}

@mixin sm-device {
  @media (min-width: $sm-device) and (max-width: $md-device) { @content; }
}

@mixin md-device {
  @media (min-width: $md-device) and (max-width: $lg-device) { @content; }
}

@mixin lg-device {
  @media (min-width: $lg-device) { @content; }
}

@mixin devices($xs: false, $sm: false, $md: false, $lg: false) {
  @if $xs == true { @include xs-device { @content; }}
  @if $sm == true { @include sm-device { @content; }}
  @if $md == true { @include md-device { @content; }}
  @if $lg == true { @include lg-device { @content; }}
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

[hidden], .hidden {
  display: none!important;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  background: $background;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

small {
  font-size: 9px;
}

input[type=range] {
  background: $blue;
}

.Header {
  padding: 1em;
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  font-family: 'Pilgi', Georgia;
  font-size: 2em;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
  margin-left: 0.75em;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}

.BlurredArtwork {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  transition: background 300ms, background-image 300ms;
}

$music-player-width: 300px;
$music-player-padding: 1em;
$music-player-background: #222;

.MusicPlayer {
  margin: 2em;
  margin-top: 80px;
  margin: 80px auto;
  padding: $music-player-padding;
  width: $music-player-width;
  height: 560px;
  border-radius: 6px;
  box-shadow: 0 12px 60px -2px rgba(black, 0.7), 0 4px 5px 0 rgba(black, 0.3);
  background: rgba($music-player-background, 0.9);
  z-index: 1;
  text-align: center;

  .artwork {
    margin-bottom: 2em;
    width: calc(#{$music-player-width} - calc(#{$music-player-padding} * 2));
    height: calc(#{$music-player-width} - calc(#{$music-player-padding} * 2));
    border-radius: 4px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 8px 25px -2px rgba(black, 0.2), 0 4px 5px 0 rgba(black, 0.1);
    transition: background 300ms ease;
  }

  .ProgressContainer {
    margin: 0 1em 2em;

    .Progress {
      position: relative;
      background: rgba(white, 0.1);
      border-radius: 20px;
      height: 2px;
      overflow: hidden;
      margin-bottom: 10px;

      .ProgressValue {
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        z-index: 2;
        // background: linear-gradient(to right, #a9b9ff, white);
        background: $blue;
        border-radius: 20px;
        transition: width 200ms linear;
      }
    }

    .ProgressInfo {
      display: flex;
      font-size: 9px;
      justify-content: space-between;
      opacity: 0.5;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

    button {
      color: white;
      font-size: 2em;
      cursor: pointer;

      &#play, &#pause {
        font-size: 3.5em;
      }

      &#next, &#prev {
        padding: 0 1em;
      }
    }
  }

  .track-info {
    text-align: center;

    .title {
      font-size: 15px;
      margin-bottom: 0.5em;
    }

    .artist {
      font-size: 12px;
      font-style: italic;
      opacity: 0.5;
      font-weight: lighter;
    }
  }

  .volume {
    margin-top: 3em;
    display: none;
  }
}

.Playlists {
  flex: 1;
  padding: 2em 1em;
  margin: 0;
  overflow: auto;

  .Playlist {
    margin: 0;
  }
}

.Tracks {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  opacity: 0.1;
  filter: blur(6px);

  $tracks-per-line: 8;

  .Track {
    width: calc(100vw / #{$tracks-per-line});
    height: calc(100vw / #{$tracks-per-line});
    background: black;
    border: none;
    outline: none;

    @include md-device {
      width: calc(100vw / 6);
      height: calc(100vw / 6);
    }

    @include sm-device {
      width: calc(100vw / 4);
      height: calc(100vw / 4);
    }

    @include xs-device {
      width: calc(100vw / 3);
      height: calc(100vw / 3);
    }
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

button.reset {
  background: none;
  border: none;
  outline: none;
}

canvas {
  display: none;
}

@import 'icons';
